<!-- <h1 routerLink="home" routerLinkActive="touch" >Home Component</h1>
<h1 routerLink="contact" routerLinkActive="touch">Contact Component</h1> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Student Data Entry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="view">View Data</a>
        </li>
     
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <form [formGroup]="reactiveForm" >

    <div class="name">
      <label for="name">Name</label> <br>
      <input formControlName="name" type="text" name="name" >
    </div>

    <div class="number">
      <label for="mobile">Mobile Number</label><br>
      <input formControlName="mobile" type="tel" name="mobile" >
    </div>

    <div class="email">
      <label for="email">Email Id</label><br>
      <input formControlName="email" type="email" name="email" >
    </div>
    <button (click)="addingData(reactiveForm)"  type="submit" class="btn btn-warning">Submit Data</button>
  </form>
</div>
<h1>{{this.username}}</h1>
<h1>{{this.mobile}}</h1>
<h1>{{this.email}}</h1>

<router-outlet></router-outlet>
<!-- (ngSubmit)="onSubmit(reactiveForm)" -->