<p>view works!</p>
<button (click)=" viewData()">View Data</button>
<h1>{{names}}</h1>
<button (click)="viewCountry()">View Country</button>
<br>
<input type="text" name="" id="" [(ngModel)]="valuS">
<button (click)="search()">Search Country By Name</button>
<!-- <h1>{{post}}</h1> -->

<!-- <ul class="list-group">
    <li 
        *ngFor="let name of country |async"
        class="list-group-item">
        {{ name | json}}
    </li>
  </ul> -->
<br>
  <input type="text" name="" id="" [(ngModel)]="valuS2">
<button (click)="searchLang()">Search Country By Language</button>
<br>


<input type="text" name="" id="" [(ngModel)]="valuS3">
<button (click)="Reg()">Search  By Region</button>